.h1-white {
  color: #fff;
  font-family: Phantomsans, sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 112%;
  align-self: stretch;
}

.h2-white {
  color: var(--Text, #fdfdfd);
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  opacity: 0.9;
}

.h3-white {
  color: #fdfdfd;
  font-family: Phantomsans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.h3-white-light {
  color: #fdfdfd;
  font-family: Phantomsans, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.8;
}

.h4-white {
  color: #fff;
  text-align: center;
  font-family: Phantomsans, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.h3-gray {
  color: #fdfdfd;
  font-family: Phantomsans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  opacity: 0.5;
}

.h1-subtext {
  color: #fdfdfd;
  text-align: center;
  font-family: Phantomsans, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  opacity: 0.8;
}

.h2-subtext {
  color: var(--Text, #fdfdfd);
  font-family: Phantomsans, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}

.primary-btn {
  border-radius: 12px;
  opacity: 0.9;
  background: var(--Primary, #5e5aff);
  box-shadow: 2px 4px 10px 2px rgba(157, 110, 252, 0.15);
  display: flex;
  width: 100px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.secondary-btn {
  border-radius: 12px;
  border: 1px solid #6754f8;
  opacity: 0.9;
  background: #191a21;
  box-shadow: 2px 4px 10px 2px rgba(157, 110, 252, 0.15);
  display: flex;
  width: 100px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-text {
  color: #fff;
  text-align: center;
  font-family: Phantomsans, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

input {
  --webkit-appearance: none;
  box-shadow: none !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

:-webkit-autofill {
  color: #fff !important;
}

.loading {
  font-weight: bold;
  display: inline-block;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l 1s steps(4) infinite;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
