html{
    height:100%;
}
body {
    background: rgb(116, 63, 224);
    background: radial-gradient(circle, rgba(116, 63, 224, 1) 0%, rgba(13, 13, 23, 1) 100%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.content {
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen {
        
    }


}

.first,
.second {
    box-sizing: border-box;
    padding: 5px;

}
.first{
    display:flex;
    justify-content: center;
}

.home-image {
    height:200px;
    width:200px;
    
}